@media (max-width: 1139px) {
  .container {
    width: 100%;
    
  }
}

@media (max-width: 992px) {
  .container .scatterplot-wrapper {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container .scatterplot-wrapper {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .container .scatterplot-wrapper {
    font-size: 10px;
  }
}
