/* On responsive page, nav is in flow at top (not fixed) */
.page-responsive .chart-nav {
  position: static;
}

@media (max-width: 1139px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .container .scatterplot-wrapper {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container .scatterplot-wrapper {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .container .scatterplot-wrapper {
    font-size: 10px;
  }
}
